header{
    background-color: #2C3E50;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ms-section{
    background-color: rgb(26, 188, 156);
}

.ms_star{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    color: white;
}
.ms_star2{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    color: black;
}

.ms_star:before,
.ms_star:after {
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    line-height: 4px;
    background-color: #fff;
    vertical-align: middle;
}
.ms_star2:before,
.ms_star2:after {
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    line-height: 4px;
    background-color: #000;
    vertical-align: middle;
}

.avatar{
    height: 200px;
}

.box{
    height: 200px;
}

.about{
    background-color: rgb(26, 188, 156);
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
  }

.msheight{
    height: 70px;
}

.msbutton{
    background-color: rgb(26, 188, 156);
    width: 80px;
    color: white;
}

.prefooter{
    background-color: rgb(58, 84, 109);
}

.footer{
    background-color: #2C3E50;
}

#evidenzia{
    color: rgb(26, 188, 156);
}

.ms_border{
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
}