header{
    background-color: #2C3E50;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ms-section{
    height: 400px;
    background-color: rgb(26, 188, 156);
}

.avatar{
    height: 200px;
}