header{
    background-color: #2C3E50;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ms-section{
    height: 400px;
    background-color: rgb(26, 188, 156);
}

.avatar{
    height: 200px;
}

.box{
    height: 200px;
}

.about{
    background-color: rgb(26, 188, 156);
}
input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
  }

.msheight{
    height: 70px;
}

.msbutton{
    background-color: rgb(26, 188, 156);
}

.prefooter{
    background-color: rgb(58, 84, 109);
}

.footer{
    background-color: #2C3E50;
}

#evidenzia{
    color: rgb(26, 188, 156);
}